# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Eclipse / Java
.classpath
.project
.settings/
