<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>This is the home page</h1>
  <h3><%= 1+2 %></h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos totam laudantium praesentium ipsum ad rem, fugit aspernatur sunt impedit nostrum dolore quibusdam quaerat quas reprehenderit ducimus nihil quisquam nobis tempora!
  </p>
  <button>click me!</button>
  
</body>
</html>