/* ROOT VARIABLES */
:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
}

/* BODY CENTERING */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #0f172a;
  font-family: system-ui, sans-serif;
  color: white;
}

/* ROOT FIX */
#root {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* MAIN CONTAINER */
.container {
  background: #0b1220;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* TICKET BOX */
.ticket-box {
  display: flex;
  gap: 10px;
  padding: 20px;
  border: 2px solid #fca5a5;
  border-radius: 15px;
}

/* NUMBER STYLE */
.ticket-num {
  font-size: 40px;
  color: #cbd5f5;
  font-weight: bold;
}